*{
margin:0;
padding:0;
box-sizing: border-box;
}

body{
text-align:center;
background:linear-gradient(to bottom,#6ab7f5,#f5ad6a);
min-height:100vh;
}

main{
display:inline-block;
margin-top:2%;
padding:15px;
position:relative;
}

.pokedex{
width:100%;
max-width: 425px;
}

.pokemon_image{
position: absolute;
bottom:55%;
left:40%;
transform: translate(-30%,20%);
height: 20%;

}

.pokemon_data{
position: absolute;
bottom:40%;
left:40%;
font-size: clamp(6px,4vw,22px);
font-weight:600 ;

}

.pokemon_number{
color: red;

}


.pokemom_name{
color:blue;
text-transform: capitalize;

}

.form{
    position:absolute;
    top:65%;
    left:13.5%;
    width:65%;
  }

.input_search{
    width:100%;
    padding:3%;
    outline:none;
    border-radius: 5px;
    border:2px solid #333;
    color:blue;
    font-weight: 600;
    font-size: clamp(8px,5vw,1rem);
    /*box-shadow: eixos x e y tamanho e cor ;(aqui há 2 sombras sobrepostas*/
    box-shadow: -3px 4px 0 #888, -5px 7px 0 #333;
}

.buttons{
position: absolute;
width:65%;
bottom:15%;
left:50%;

/*font-size:clamp( 5px,5vw,1rem);*/
transform:translate(-57%,0);
display: flex;
gap: 20px;
}
.button{
    border: 2px solid #333;
    padding:2px;
    width:50%;
    border-radius:5px;
    border: 2px solid black;
    background-color:gray;
    box-shadow: -1px 1px 0 #333, -4px 5px 0 black ;  
    font-size: clamp(8px,5vw,1rem);
    font-weight: 600;
}

.button:active{
box-shadow:inset -3px 3px 0 black;
font-size:0.9rem;
}

